---
title: Vérification
url: ./model/verification/
description: Vérification business function
type: business-function

practice_1: Tests de sécurité
practice_1_url: tests-de-securite
practice_2: Évaluation de l'architecture
practice_2_url: evaluation-de-larchitecture
practice_3: Tests axés sur les exigences
practice_3_url: tests-axes-sur-les-exigences


keywords: ["Business function"]
---

La vérification se concentre sur les processus et les activités liés à la façon dont une organisation vérifie et teste les artefacts produits tout au long du développement de logiciels. Cela inclut généralement les activités d'assurance qualité telles que les tests, mais peut également inclure d'autres activités de revue et d'évaluation.
